:root {
    --very-dark: #3e3e3e;
    --dark: #505050;
    --light: #F7FFE0;
    --yellow: #D59C00;
    --brown: #704E2E;
    --green: #709176;
    --blue: #00487C;
    --game-size: 500px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    image-rendering: pixelated;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
}

header {
    background-color: var(--very-dark);
    padding: 3px;
}

main {
    background-color: var(--dark);
    height: 100%;
    position: relative;
}

article {
    position: absolute;
    width: var(--game-size);
    height: var(--game-size);
    left: calc(50% - (var(--game-size) / 2));
    top: calc(50% - (var(--game-size) / 2));
}

.console {
    width: 100%;
}

.screen {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 436px;
    height: 272px;
    background-color: #FFFFFF11;
}

.pet {
    position: absolute;
    top: 0%;
    left: 10%;
    width: 25%;
    display: initial;
}

#p1 {
    top: auto;
    bottom: 10%;
    left: 40%;
}

#p2 {
    top: 0%;
    left: auto;
    right: 10%;
}

.food {
    position: absolute;
    right: 0;
    bottom: 20%;
    width: 25%;
    display: initial;
}

.music {
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 25%;
    display: initial;
}

h1 {
    color: var(--light);
    font-size: 20px;
    font-weight: 50;
}

.detached-right {
    float: right;
}

.dark {
    filter: brightness(.5);
}

.hud {
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: 468px;
    height: 164px;
}

.clock-hand {
    position: absolute;
    top: 20px;
    left: 16px;
    height: 80%;
}

.status {
    position: absolute;
    top: 17px;
    left: 204px;
    height: 21px;
    width: 130px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#s1 {
    top: 72px;
}

#s2 {
    top: 127px;
}

.point {
    border: 1px solid var(--dark);
    background-color: var(--yellow);
}